
#logo{
    display: flex;
    justify-content: center;
}

#content-container{
    display: flex;
    padding: 100px;
    margin: 0 auto;
    max-width: 1000px;
}

#welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
}

.right-container{
    display: flex;
    justify-content: center;
    max-width: 400px;   
}

#main-container{
    display: flex;
    justify-content: center;
    padding: 50px;
}

#QA-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.footer-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-left: 30%;
    margin-right: 30%;
}

@media (min-width: 576px) {


}

@media (min-width: 0px) and (max-width: 576px) {

    #flex-container{
        font-size: 10px;
        justify-content: center;
    }


}