.bakbild {
  width: 100%;
  padding: 0%;
  position: relative;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-image: url(/assets/glasscafe.jpg);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed; /* Keeps the background image fixed during scroll */
}

.header {
  position: fixed; /* Fixes the header to the top of the page */
  width: 100%;
  padding: 1rem;
  z-index: 1000; /* Ensures the menu bar is on top of other content */
  background: linear-gradient(360deg, #ede7e73e, #525252);
}

.logo {
  max-width: 100%;
  height: auto;
}

.meny {
  display: flex;
  padding: 1%;
  align-items: center;
  justify-content: space-between; /* Space out the logo and the menu */
  width: 100%;
  background: linear-gradient(360deg, #ece7e73e, #525252);
  position: relative;
}

.rightmenu {
  display: flex;
  color: #fff;
  gap: 15px;
  justify-content: center; /* Center the items within rightmenu */
  align-items: center; /* Align items vertically */
  flex: 1; /* Allow rightmenu to take available space */
  position: relative;
}

.rightmenu a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  position: relative;
  padding: 10px 15px;
}

.rightmenu h3 {
  margin: 0;
  font-size: 16px;
}
.rightmenu a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: white; /* Color of the underline */
  position: absolute;
  bottom: -5px; /* Position the underline below the text */
  left: 0;
  transform: scaleX(0); /* Initially hide the underline */
  transition: transform 0.3s ease; /* Transition effect */
}

.rightmenu a:hover::after {
  transform: scaleX(1); /* Show the underline on hover */
  height: 2px; /* Thickness of the underline */
}
