/* .bakbild {
  width: 100%;
  padding: 0%;
  position: relative;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-image: url(/assets/pexels-goumbik-1352296.jpg);
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  position: relative; 
}

body::before {
  content: '';
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 1); 
  z-index: 0; 
  transition: background 3s ease; 
}


body.loaded::before {
  background: rgba(255, 255, 255, 0); 
}


.header, .meny, .rightmenu {
  position: relative; /* Ensure these are above the overlay */
  z-index: 1; /* Keep these above the overlay */
}

.header {
  position: fixed; /* Fixes the header to the top of the page */
  width: 100%;
  padding: 1rem;
  z-index: 1000; /* Ensures the menu bar is on top of other content */
  background: linear-gradient(360deg, #ede7e73e, #525252);
}

.logo {
  max-width: 300px; 
  height: auto;
  padding: 0.5em 0 0.5em 0;
  position: absolute;
  z-index: 1000;

}

.meny {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Space out logo and rightmenu */
  width: 100%;
  height: 120px;
  background: linear-gradient(360deg, #ece7e73e, #525252);
}

.rightmenu {
  display: flex;
  gap: 15px;
  align-items: center; 
  text-align: center;
  flex-grow: 1; /* Allow rightmenu to take available space */
  justify-content: center; /* Center menu items */
}

.rightmenu a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  position: relative;
  padding: 10px 15px;
}

.rightmenu h3 {
  margin: 0;
  font-size: 16px;
}
.rightmenu a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: white; /* Color of the underline */
  position: absolute;
  bottom: -5px; /* Position the underline below the text */
  left: 0;
  transform: scaleX(0); /* Initially hide the underline */
  transition: transform 0.3s ease; /* Transition effect */
}

.rightmenu a:hover::after {
  transform: scaleX(1); /* Show the underline on hover */
  height: 2px; /* Thickness of the underline */
}
